{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'delorian', 'dropdown': ''} %}
{% endblock %}

{% block body_main -%}
    <div class="page-header">
        <h1>{{ series.name }}</h1>
        <a href="{{ path('oktolab_series_edit', { 'series': series.id }) }}" class="btn btn-default">{{ 'oktolab_media.series_edit_button'|trans|raw }}</a>
    </div>
    <div class="row">
        <div class="col-md-8">
            {% if series.posterframe is not empty %}
                <img src="{{ series.posterframe|path }}" class="img-responsive" />
            {% endif %}
            {{ series.description }}
        </div>
        <div class="col-md-4">
            <p>Angelegt am: {{ series.createdAt|date('d.m.Y H:i') }}</p>
            <p>Aktualisiert am: {{ series.updatedAt|date('d.m.Y H:i') }}</p>
            {% if series.isActive %}
                <p>Sendereihe ist: Aktiv</p>
            {% else %}
                <p>Sendereihe ist: Inaktiv</p>
            {% endif %}
            <p>ID: {{ series.uniqID }}</p>
            <p>Webtitel: {{ series.webtitle }}</p>
            <div class="list-group">
                {% for reachme in series.reachmes %}
                        <a href="{{ path('flux2_reachme_show', {'reachme': reachme.id })}}" class="list-group-item">{{ 'reachme_type_transchoice'|transchoice(reachme.type) }}</a>
                {% endfor %}
                <a href="{{ path('flux2_reachme_new', {'series_uid': series.uniqID})}}" class="list-group-item">{{ 'flux2_reachme_new'|trans|raw}}</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Zugewiesene Benutzer</h2>
            <div class="list-group">
                {% for user in series.users %}
                <a href="" class="list-group-item">{{ user.username }} ({{ user.email }})</a>
                {% endfor %}
                <a href="{{ path('oktolab_series_edit_user', {'series': series.id}) }}" class="list-group-item">{{ 'oktothek.series_add_user'|trans|raw }}</a>
            </div>
        </div>
    </div>
    <a class="btn btn-default" href="{{ path('oktolab_episode_new')}}">{{ 'oktolab_media.series_add_new_episode'|trans|raw }}</a>
        {{ render(controller('OktolabMediaBundle:Series:paginationEpisodes', {'page': 1, 'series': series.id })) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var updateView = function(e, link) {
            e.preventDefault();
            var link = $(link);
            $.ajax({
                url: link.attr('href'),
                context: document.body
            }).success(function(data) {
                $(link.parents('.episode-pager')).replaceWith(data);
            });
        }
        // AJAX pagination
        $( document ).on('click', '.pagination > li > a', function(e){
            updateView(e, this);
        });

        $( document ).on('click', '.sortable', function(e){
            updateView(e, this);
        });
        $( document ).on('click', '.asc', function(e){
            updateView(e, this);
        });
        $( document ).on('click', '.desc', function(e){
            updateView(e, this);
        });
    </script>
{% endblock %}
