{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'delorian', 'dropdown': ''} %}
{% endblock %}

{% block body_main -%}
    <div class="page-header">
        <h1>{{ series.name }}</h1>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'oktolab_media.series_show_actions'|trans|raw }}
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('okto_media_new_episode_for_series', {'uniqID': series.uniqID})}}">
                        {{ 'okto_media.series_add_new_episode'|trans|raw }}
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="{{ path('oktolab_series_edit', { 'series': series.uniqID }) }}">
                        {{ 'oktolab_media.series_edit_button'|trans|raw }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('oktolab_series_edit_tags', { 'series': series.uniqID }) }}">
                        {{ 'okto_media.show_series_tag_button_menu'|trans|raw }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('okto_media_set_state', {'uniqID': series.uniqID}) }}">
                        {{ 'okto_media.show_series_set_state'|trans|raw }}
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="{{ path('oktolab_media_export_series', {'series': series.uniqID}) }}">
                        {{ 'oktolab_media.series_export_button'|trans|raw }}
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                {% if series.posterframe is not empty %}
                    <li>
                        <a href="{{ path('bprs_asset_download', {'filekey': series.posterframe.filekey}) }}">
                            {{ 'okto_media.show_series_posterframe_download_menu'|trans|raw }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            {% if series.posterframe is not empty %}
                <img src="{{ series.posterframe|thumb(720,1280) }}" class="img-responsive" />
            {% endif %}
            {{ series.description }}
        </div>
        <div class="col-md-5">
            <h4>{{ 'oktolab_media_info_for_series_header'|trans }}</h4>
            <dl class="dl-horizontal">
                <dt>{{ 'oktolab_media.series_info_isActive'|trans }}</dt>
                <dd>{{ 'oktolab_media.series_info_isActive_choice'|transchoice( series.isActive ) }}</dd>

                <dt>{{ 'oktolab_media.series_info_createdAt'|trans }}</dt>
                <dd>{{ series.createdAt|date("oktolab_media.series_info_createdAt_date"|trans) }}</dd>

                <dt>{{ 'oktolab_media.series_info_updatedAt'|trans }}</dt>
                <dd>{{ series.updatedAt|date("oktolab_media.series_info_updatedAt_date"|trans) }}</dd>

                <dt>{{ 'oktolab_media.series_info_uniqID'|trans}}</dt>
                <dd>{{ series.uniqID }}</dd>

                <dt>{{ 'oktolab_media.series_info_webtitle'|trans}}</dt>
                <dd>{{ series.webtitle }}</dd>
            </dl>
            <h4>Kontaktmöglichkeiten</h4>
            <div class="list-group">
                {% for reachme in series.reachmes %}
                        <a href="{{ path('flux2_reachme_show', {'reachme': reachme.id })}}" class="list-group-item">{{ 'reachme_type_transchoice'|transchoice(reachme.type) }}</a>
                {% endfor %}
                <a href="{{ path('flux2_reachme_new', {'series_uid': series.uniqID})}}" class="list-group-item">{{ 'flux2_reachme_new'|trans|raw}}</a>
            </div>

            <h4>{{ 'okto_media_series_tags_header'|trans }}</h4>
            <div class="list-group">
                {% for tag in series.tags %}
                    <a href="{{ path('okto_tag_series', {'tag': tag.id}) }}" class="list-group-item">
                        {{ tag }}
                    </a>
                {% endfor %}
                <a href="{{ path('oktolab_series_edit_tags', { 'series': series.uniqID }) }}" class="list-group-item">
                    {{ 'okto_media.show_series_tag_button_list'|trans|raw }}
                </a>
            </div>
        </div>
    </div>
    {{ render(controller('OktoMediaBundle:Series:paginationEpisodes', {'page': 1, 'series': series.id })) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var updateView = function(e, link) {
            e.preventDefault();
            var link = $(link);
            $.ajax({
                url: link.attr('href'),
                context: document.body
            }).success(function(data) {
                $(link.parents('.episode-pager')).replaceWith(data);
            });
        }
        // AJAX pagination
        $( document ).on('click', '.pagination > li > a', function(e){
            updateView(e, this);
        });

        $( document ).on('click', '.sortable', function(e){
            updateView(e, this);
        });
        $( document ).on('click', '.asc', function(e){
            updateView(e, this);
        });
        $( document ).on('click', '.desc', function(e){
            updateView(e, this);
        });
    </script>
{% endblock %}
