<div class="form-group">
    {{ form_label(widget)}}
    <div class="form-group">
    <label for="{{ widget.vars.id }}">{{ widget.vars.label }}</label>
    <input id="{{widget.vars.id }}" type="text" class="form-control tag-input" placeholder="{{ widget.vars.attr.placeholder|trans }}" data-url="{{ path(widget.vars.attr.url) }}">
  </div>
    <div class="list-group tags" data-prototype="{{ form_widget(widget.vars.prototype)|e('html_attr') }}">
        {%- for children in widget.children -%}
            <span class="remove list-group-item">
                {{ children.vars.value }}{{ form_widget(children) }}
            </span>
        {%- endfor -%}
    </div>
</div>
{% do widget.setRendered %}
