{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'delorian', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
    <div class="page-header">
        <h1>{{ episode.name }}</h1>
        <a href="{{ path('oktolab_episode_edit', {'episode': episode.uniqID}) }}" class="btn btn-default">Bearbeiten</a>
        <a href="{{ path('oktolab_episode_encode', {'uniqID': episode.uniqID}) }}" class="btn btn-default">{{ 'oktolab_media.show_episode_add_to_encode_queue'|trans|raw }}</a>
    </div>
    <div class="row">
        <div class="col-md-8">
            {% if episode.video is not empty %}
                <div id="player">
                </div>
            {% elseif episode.posterframe is not empty %}
                <img src="{{ episode.posterframe|path }}" class="img-responsive"/>
            {% endif %}
            {{ episode.description|default('oktolab_media.show_episode_description_missing'|trans)|nl2br }}
        </div>
        <div class="col-md-4">
            <h4>{{ 'oktolab_media_info_for_episode_header'|trans }}</h4>
            <dl class="dl-horizontal">
                <dt>{{ 'oktolab_media.episode_info_isActive'|trans }}</dt>
                <dd>{{ 'oktolab_media.episode_info_isActive_choice'|transchoice( episode.isActive ) }}</dd>

                <dt>{{ 'oktolab_media.episode_info_createdAt'|trans }}</dt>
                <dd>{{ episode.createdAt|date("d.m.Y H:i") }}</dd>

                <dt>{{ 'oktolab_media.episode_info_updatedAt'|trans }}</dt>
                <dd>{{ episode.updatedAt|date("d.m.Y H:i") }}</dd>

                <dt>{{ 'oktolab_media.episode_info_onlineStart'|trans }}</dt>
                <dd>{{ episode.onlineStart|date("d.m.Y H:i") }}</dd>

                <dt>{{ 'oktolab_media.episode_info_onlineEnd'|trans}}</dt>
                <dd>{% if episode.onlineEnd %}{{ episode.onlineEnd|date("d.m.Y H:i") }}{% endif %}</dd>

                <dt>{{ 'oktolab_media.episode_info_firstranAt'|trans }}</dt>
                <dd>{{ episode.firstranAt|date("d.m.Y H:i") }}</dd>

                <dt>{{ 'okto_media.episode_info_series'|trans }}</dt>
                <dd>
                    {% if episode.series %}
                        <a href="{{ path('oktolab_series_show', {'series': episode.series.uniqID})}}">{{ episode.series.name}}</a>
                    {% endif %}
                </dd>

                <dt>{{ 'oktolab_media.episode_info_uniqID'|trans}}</dt>
                <dd>{{ episode.uniqID }}</dd>
            </dl>

            {% if episode.video is not empty %}
                <a href="{{ path('bprs_asset_download', {'filekey': episode.video.filekey}) }}" class="btn btn-default"><span class="glyphicon glyphicon-download"></span>Video</a>
            {% endif %}
            {% if episode.posterframe is not empty %}
                <a href="{{ path('bprs_asset_download', {'filekey': episode.posterframe.filekey}) }}" class="btn btn-default"><span class="glyphicon glyphicon-download"></span>Posterframe</a>
            {% endif %}
            <h2>{{ 'oktolab_media_media_for_episode_header'|trans }}</h2>
            {{ render(controller('OktolabMediaBundle:Media:mediaForEpisode', {'uniqID': episode.uniqID})) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ player(episode)|raw }}
{% endblock %}
