{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': '', 'dropdown': 'backend'} %}
{% endblock %}

{% block body_main %}
    <div class="page-header">
        <h1><a href="{{ path('oktolab_series_show', {'series': reachme.series.id })}}">{{ reachme.series.name }}</a></h1>
        <a href="{{ path('flux2_reachme_edit', {'reachme': reachme.id}) }}" class="btn btn-default">{{ 'flux2_reachme_edit'|trans|raw }}</a>
        <a href="{{ path('flux2_reachme_new', {'series_uid': reachme.series.uniqID}) }}" class="btn btn-default">{{ 'flux2_reachme_new'|trans|raw }}</a>
    </div>
    <table class="table">
        <tr>
            <td>{{'flux2_media.reachme_series_label'|trans}}</td>
            <td>{{ reachme.series.name }}</td>
        </tr>
        <tr>
            <td>{{'flux2_media.reachme_type_label'|trans}}</td>
            <td>{{ 'reachme_type_transchoice'|transchoice(reachme.type) }}</td>
        </tr>
        <tr>
            <td>{{'flux2_media.reachme_uri_label'|trans}}</td>
            <td>{{ reachme.uri }}</td>
        </tr>
    </table>
{% endblock %}
